# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_GEMINI_LEFT
    def_bool $(shields_list_contains,gemini_left)

config SHIELD_GEMINI_RIGHT
    def_bool $(shields_list_contains,gemini_right)
